* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: ##58595b;
  line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Karla", Arial, Helvetica, sans-serif;
}

input:required {
  box-shadow: none;
}

input[type=text], input[type=email], input[type=button] {
  border: 1px solid #d8eae6;
  text-align: center;
  font-family: "Muli", Arial, Helvetica, sans-serif;
  color: #0c304d;
  padding: 0px 1em 0px 1em;
  height: 3em;
}

#InputBust, #InputHips, #InputWaist {
  width: 9em;
}

#InputEmail {
  width: 75%;
  min-width: 9em;
}

input[type=checkbox] {
  margin: 0 1em 0 0;
}

input[type=button] {
  border: none;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 15px;
  background-color: #999;
  color: #fff;
  cursor: pointer;
}

input:focus, input:hover {
  border: 2px solid #caa8ad;
}

input[type=text]:focus, input[type=text]:hover,
input[type=email]:focus, input[type=email]:hover,
input[type=button]:focus, input[type=button]:hover {
  outline: none;
}

input[type=button]:focus {
  border: none;
}

input[type=button]:hover {
  border: none;
  background-color: #caa8ad;
}

::selection {
	background: #111;
	color: #fff;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 0px;
}

.errorPar, .subCheckbox {
  padding: 8px 8px 8px 8px;
}

.subCheckbox p {
  font-size: 12px;
  text-align: center
}

.errorText {
  color: #f00;
}

.errorEntry {
  outline: 1px solid #f00;
  outline-offset: -1px;
}

.section div {
  width: 100%;
  text-align: center;
}

/* mobile */
@media only screen and (max-width: 414px) {

  .section {
    width: 100%;
  }

}

/* tablet */
@media only screen and (min-width: 415px) and (max-width: 720px) {

  .page {
    max-width: 512px;
    margin: 0 auto;
  }

  .bust, .waist, .hips {
    width: calc(100% / 3);
  }

}

/* desktop */
@media only screen and (min-width: 721px) {

  .page {
    width: 512px;
    margin: 0 auto;
  }

  .bust, .waist, .hips {
    width: calc(100% / 3);
  }

}
